src/main/mule/git-demo-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34e0041c-aaa5-4cd8-b5cd-3db933232345" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-demo-2Flow" doc:id="47cab67e-3062-407d-8425-a8960a21c611" >
		<http:listener doc:name="Listener" doc:id="c1e83c26-f276-4859-ac41-96ded8ccb236" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="7153c1ce-58ff-42f0-b600-6250882a1a2c" message='"using git hub"'/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a8e225c7-2490-478d-b3bc-3c9c9a507bc8" />
		<ee:transform doc:name="Transform Message" doc:id="543de6b4-3337-4526-808a-2f40810a5ba7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
